<footer class="footer text-center">
    <div class="container">
        <p>Online Store Copyright</p>
        <div class="form-inline">
            <div class="form-group mx-auto">
                <label for="email" class="form-label">Get deals:</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="Email Address">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</footer>